* {
    margin: 0 auto;
    font-family: 'Serif' ,sans-serif;
    transition: 0.3s all;
    font-weight: 600;
}
#app {
  margin: 50px auto 20px;
  display: block;
  width: 250px;
  padding: 20px;
  background-color: green;
  border: 1px solid black;
}
input[type="text"] {
    width: 65%;
    border: 1;
    color: black;
    font-size: 18px;
    padding: 5px 5px;
    text-align: right;
    width: 100%;
    height: 150%;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 150%;
}
.cell {
    flex: 30%;
    height: 30px;
    font-size: 18px;
}
.num {
    background-color: black;
    color: white;
    font-weight: 500;
    width: 100%;
    height: 47px;
    border: 2px solid green;
    border-radius: 1px;
}
.cell:hover {
  background-color: #5e5e5e;
}
.op {
    font-size: 16px;
    width: 100%;
    height: 47px;
    border: 2px solid green;
    border-radius: 1px;
    color: black;
    background-color: white;
}
