.title{
    color: black;
}

body{
    font-size: 22px;
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}

.input{
    width: 750px;
}

.list{
    list-style: none;
    padding: 30px;
    border: 4px double black;
    text-align: left;
}

.task{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-items: space-between;
    width: 780px;
    margin: 5px 0;
}

.text{
    width: 700px;
    overflow-wrap: break-word;
}

.checkbox{
    margin-right: 20px;
}

.delBtn {
    margin-left: auto;
}

.done{
    margin-left: 37px;
    text-decoration: line-through;
    color: #808080;
}
